body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.top {
  background: linear-gradient(177deg, #edf0fe, transparent);
}

.nav p {
  font-size: 18px;
}

header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* height:86vh; */
  height: 100vh;
}

header img {
  width: 800px;
  margin-bottom: -6rem;
}

main {
  background-color: #F5F8FF;
}

.Introduction .profile {
  width: auto;
  height: 450px;
}

.icon {
  width: 45px;
}

.p-fixed {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff90;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header-right-nav>a {
  text-decoration: none;
  color: black;
  transition: 0.1s all ease-in-out;
}

.header-right-nav>a.active {
  cursor: pointer;
  text-shadow: 0px 0px 0.5px #001a2c;
}

.header-right-nav>a:not(.active):hover {
  cursor: pointer;
  text-shadow: 0px 0px 0.5px #000000;
  /* border-bottom: 2px solid rgb(116, 116, 116); */
}

p,
h2,
h1 {
  opacity: 0;
}

.reflect-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  /* Reflection effect */
  -webkit-box-reflect: below 0px linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));

}

.reflect-button:hover {
  background-color: #45a049;
}

.reflect-image {
  height: auto;

  /* Reflection effect */
  -webkit-box-reflect: below 0px linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.054));
}
